/* Guest Page Navbar */
.guest-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.guest-nav .logo {
  width: 80%;
  min-width: 100px;
  max-width: 250px;
}

.guest-btn-wrapper {
  display: flex;
  gap: 2em;
}

/* Guest Page Showcase */
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2em;
}

.showcase-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55%;
  gap: 1.5em;
  height: inherit;
}

.showcase-text .slogan {
  font-size: 8vw;
  font-weight: 800;
  text-align: justify;
  line-height: 1.17;
}

.showcase-text .sub-text {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  text-align: justify;
}

.showcase-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 45%;
  height: inherit;
}

.showcase-image img {
  width: 85%;
}

.showcase .button-wrapper {
  display: none;
}

/* Authentication */
.auth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.auth-container .illustration {
  width: 25%;
  height: inherit;
}

.illustration.register {
  background: url(../assets/sign-up.svg) no-repeat center;
  background-size: cover;
}

.illustration.login {
  background: url(../assets/login.svg) no-repeat center;
  background-size: cover;
}

.auth-container .auth-wrapper {
  display: grid;
  place-items: center;
  width: 75%;
  height: inherit;
}

.auth-wrapper form {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 280px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 100%;
  gap: 1.5em;
}

.form-wrapper h1 {
  color: var(--accent);
  font-size: 1.7em;
}

.form-wrapper p {
  font-size: 0.9em;
}

.form-wrapper .field-wrapper,
.form-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
  width: 100%;
}

.field-wrapper option {
  background-color: var(--bg);
  color: var(--white);
}

.field-wrapper label {
  font-size: 0.9em;
}

/* User Profile Setup */
.field-wrapper.user-img {
  width: fit-content;
  align-items: center;
}

.field-wrapper img {
  width: 100px;
}

/* Interests & Languages */
.field-wrapper.row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
}

.field-wrapper.row button {
  height: 34px;
}

.field-wrapper.row select {
  width: 70%;
}

.btn-wrapper.col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper.col button {
  height: 34px;
}

/* Homepage */
.home-showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 89vh;
  padding: 1.5em;
  gap: 2em;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.friends-list {
  min-width: 250px;
  width: 20%;
  border: 1px solid var(--border);
  border-radius: 0.4em;
  height: 90%;
  margin-bottom: 0.5em;
}

.filter-wrapper {
  display: flex;
  height: 8%;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 1em;
  border-bottom: 1px solid var(--border);
}

.friends-count {
  display: flex;
  align-items: center;
  gap: 0.4em;
  width: 55%;
}

.friends-count h3 {
  font-size: 1em;
}

.friends-count p {
  margin-top: 1px;
  font-size: 0.7em;
  color: var(--border);
}

.filter-wrapper .btn {
  width: 45px;
  padding: 5px;
}

.list-wrapper {
  overflow: scroll;
  height: 92%;
}

.friends {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding: 0.4em 1em;
  background-color: var(--primary);
  border-bottom: 1px solid var(--border);
}

.friends:hover,
.friends:enabled {
  background-color: var(--bg);
}

.friend-details,
.friend-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
}

.friend-details h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.friend-details p {
  font-size: 0.8em;
  color: var(--border);
}

.friend-image img {
  width: 40px;
}

.friend-letters.defaultView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: inherit;
  padding: 0 1em;
}

.friend-letters {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: inherit;
  padding: 0 1em;
}

.default-view-text {
  color: var(--border);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.letters-header {
  display: flex;
  align-items: flex-start;
  height: 15%;
}

.friend-letters .letters-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-details .sub-details {
  display: flex;
  gap: 1em;
}

.user-details h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.sub-details p {
  color: var(--border);
}

.user-image img {
  cursor: pointer;
  width: 80px;
}

.letters {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  height: 78%;
  gap: 2.5em;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.letters.defaultView {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  height: 78%;
  gap: 2.5em;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.write-icon {
  color: var(--border);
}

.letter {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  width: 210px;
  height: 230px;
  padding: 1.5em;
  background-color: var(--primary);
}

.letter.defaultBorder {
  border: 1px solid var(--border);
}

.letter.accentBorder {
  border: 1px solid var(--lightAccent);
}

.user-name {
  font-size: 0.7em;
}

/* Opened Letter */
.opened-letter-wrapper {
  display: grid;
  width: 100%;
  height: 78%;
  justify-items: center;
  overflow-x: auto;
}

.opened-letter {
  background-color: var(--primary);
  height: 100%;
  width: 45%;
  min-width: 400px;
  border-radius: 0.4em;
  padding: 2em 1.8em;
  overflow-y: hidden;
}

.to-details {
  display: flex;
  justify-content: space-between;
}

.to-details .btn {
  height: 30px;
  padding: 5px;
}

.to-details h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.to-details p {
  color: var(--border);
  font-size: 0.8em;
  text-align: justify;
}

.writing-area {
  margin-top: 1em;
  height: 90%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.writing-area textarea {
  color: var(--white);
  background-color: var(--primary);
  border: none;
  width: 100%;
  min-height: 95%;
  outline: none;
  overflow-y: auto;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.writing-area p {
  overflow-y: auto;
  text-align: justify;
}

/* Explore */
.explore-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 1.5em 0;
  height: 89vh;
  overflow: hidden;
}

.explore-header {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  height: 100%;
  width: 85%;
}

.explore-header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 25px;
}

.explore-search-bar {
  background: none;
  outline: none;
  border: 1px solid var(--border);
  padding: 0 0.5em;
  border-radius: 0.3em;
  color: var(--white);
  width: 30%;
  min-width: 250px;
}

.explore-search-bar:hover,
.explore-search-bar:focus {
  border: 1px solid var(--white);
}

.explore-body {
  display: flex;
  align-items: center;
  height: 88%;
}

.filter-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 18%;
  height: 100%;
  min-width: 220px;
  border: 1px solid var(--border);
  border-radius: 0.4em;
}

.filter-pane .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--border);
}

.filter-container {
  width: 100%;
  height: 27%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
  justify-content: center;
}

.results-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 1em;
  width: 83%;
  height: 100%;
}

.filters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  height: 100px;
  overflow-y: auto;
}

.filter {
  display: flex;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 20px;
  font-size: 11px;
  color: var(--border);
}

.add-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 200px;
  height: 235px;
  cursor: pointer;
  border: 1px solid var(--border);
  background-color: var(--primary);
  transition: box-shadow ease-in-out 0.3s;
}

.add-friend:hover {
  box-shadow: var(--primary) 5px 5px 25px 0px;
}

.add-friend .friend-image {
  width: 100%;
  height: 80px;
}

.add-friend .friend-image img {
  height: 100%;
  width: 100%;
}

.add-friend .friend-details {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3em;
}

.add-friend .friend-details .friend-username {
  font-size: 18px;
}

.add-friend .friend-details .friend-gender,
.add-friend .friend-details .friend-age {
  font-size: 10px;
  text-align: center;
}

.modal-box {
  background-color: var(--primary);
  color: var(--white);
}

.modal-box .user-interests-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  max-height: 85px;
  gap: 5px;
}

.modal-box .user-interests {
  display: flex;
  flex-wrap: wrap;
  color: var(--border);
  border-color: var(--accent);
  font-size: 0.6em;
}

.modal-box .other-details {
  font-size: 13px;
  color: var(--border);
  text-align: center;
}

.modal-box .username {
  margin-bottom: 5px;
  color: var(--white);
}

/* Settings */
.settings-wrapper {
  display: flex;
  padding: 2em 0 0;
  width: 75%;
  margin: 0 auto;
  height: 88vh;
}

.side-pane {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  color: var(--border);
  box-shadow: 0 0 1.5px 3px var(--bg);
}

.side-pane p {
  cursor: pointer;
}

.side-pane p:hover {
  color: var(--white);
}

.side-pane .logout-wrapper {
  margin: 20px 0;
  width: 100%;
}

.border {
  padding: 1em;
  border-right: 1px solid var(--primary);
}

.settings-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 90%;
  width: 450px;
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--primary);
  padding-bottom: 1em;
}

.setting-container .username-wrapper {
  font-size: 0.9em;
  padding: 0.3em 0.5em;
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.setting-container .user-image-wrapper img {
  width: 80px;
}

.setting-container .user-bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35%;
  width: 300px;
  gap: 0.5em;
}

.setting-container .user-bio-wrapper textarea {
  background: none;
  outline: none;
  padding: 0.6em 1em;
  border: 1px solid var(--border);
  border-radius: 0.5em;
  color: var(--border);
  height: 100%;
  min-height: 120px;
  width: 100%;
  resize: vertical;
  font-family: "Nanum Gothic", sans-serif;
}

.profile.profileAccent {
  color: var(--white);
}

.interest.interestAccent {
  color: var(--white);
}

.language.languageAccent {
  color: var(--white);
}
