@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg: #222831;
  --primary: #2f3642;
  --white: #eeeeee;
  --accent: #d65a31;
  --lightAccent: #db814d;
  --border: #eeeeeeab;
}

:root.dark {
  --bg: #222831;
  --primary: #2f3642;
  --white: #eeeeee;
  --accent: #d65a31;
  --lightAccent: #db814d;
  --border: #eeeeeeab;
  --navbar-bg: #2f3642;
}

:root.light {
  --bg: #eeeeee;
  --primary: #f6f8fa;
  --white: #222831;
  --accent: #d65a31;
  --lightAccent: #db814d;
  --border: #222831ab;
  --navbar-bg: #d65a31;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color ease 0.3s;
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--bg);
  height: 100vh;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  background-color: var(--white);
  color: var(--bg);
}

body.dark {
  background-color: var(--bg);
  color: var(--white);
}

input[type="checkbox"] {
  accent-color: var(--accent);
}

input[type="search"]::-webkit-search-cancel-button {
  color: var(--lightAccent);
  cursor: pointer;
}

.menu-button {
  background: transparent;
  color: var(--white);
  border: 0;
  cursor: pointer;
}

.menu-item {
  background: var(--primary);
  border: 0;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  box-shadow: 0 0 2pt 1.5px var(--bg);
}

.menu-item:hover {
  background: var(--bg);
}

.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo-wrapper {
  padding: 1em 0;
}

.btn {
  border: none;
  outline: none;
  font-size: 12px;
  width: 70px;
  background-color: var(--accent);
  color: var(--white);
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 1px -2px var(--bg), 0 2px 2px 0 var(--bg),
    0 1px 5px 0 var(--bg);
}

.btn-error {
  background-color: #bf616a;
}

/* .css-button-shadow--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #80ed99;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
.css-button-shadow--green:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
} */

.btn:active {
  box-shadow: 0 4px 2px -3px var(--bg), 0 4px 5px 1px var(--bg),
    0 2px 7px 1px var(--bg);
}

.btn-full {
  width: 100%;
}

.btn-small {
  height: 15px;
  width: 15px;
  padding: 1px;
  font-size: 8px;
}

.secondary-btn {
  background-color: var(--primary);
}

.accent {
  color: var(--accent);
}

.modal-labels {
  color: var(--lightAccent);
  font-size: 13px;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

option {
  color: var(--white);
  background-color: var(--bg);
}

.logo {
  fill: var(--white);
  cursor: pointer;
}

/* Navbar */
.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background: var(--navbar-bg);
}

.nav-wrapper .logo-wrapper {
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  height: inherit;
}

.nav-wrapper .logo-wrapper .logo {
  width: 130px;
  fill: var(--bg);
}

.nav-wrapper .accessibility-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding: 0 1.5em;
  height: inherit;
}

.accessibility-wrapper img {
  width: 35px;
}

.accessibility-wrapper #logout {
  margin-bottom: 3px;
}

.accessibility-wrapper .access-item {
  margin-top: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background: none;
  outline: none;
  padding: 0.6em 1em;
  border: 1px solid var(--border);
  border-radius: 0.5em;
  color: var(--white);
  width: 100%;
  transition: all ease-in-out 0.3s;
}

textarea {
  min-height: 100px;
  max-height: 120px;
  resize: vertical;
  font-family: "Nanum Gothic", sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: #888 0px 1px 6px 0px;
}
