@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg: #222831;
  --primary: #2f3642;
  --white: #eeeeee;
  --accent: #d65a31;
  --lightAccent: #db814d;
  --border: #eeeeeeab;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--bg);
  height: 100vh;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {
  accent-color: var(--accent);
}

.menu-button {
  background: transparent;
  color: var(--white);
  border: 0;
  cursor: pointer;
}

.menu-item {
  background: var(--primary);

  border: 0;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  box-shadow: 0 0 2pt 1.5px var(--bg);
}

.menu-item:hover {
  background: var(--bg);
}

.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo-wrapper {
  padding: 1em 0;
}

.btn {
  border: none;
  outline: none;
  font-size: 12px;
  width: 70px;
  background-color: var(--accent);
  color: var(--white);
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.secondary-btn {
  background-color: var(--primary);
}

.accent {
  color: var(--accent);
}

.modal-labels {
  color: var(--lightAccent);
  font-size: 13px;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

option {
  color: var(--white);
  background-color: var(--bg);
}

.logo {
  cursor: pointer;
}

/* Navbar */
.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background: var(--primary);
}

.nav-wrapper .logo-wrapper {
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  height: inherit;
}

.nav-wrapper .logo-wrapper .logo {
  width: 130px;
}

.nav-wrapper .accessibility-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding: 0 1.5em;
  height: inherit;
}

.accessibility-wrapper img {
  width: 35px;
}

.accessibility-wrapper #logout {
  margin-bottom: 3px;
}

.accessibility-wrapper .access-item {
  margin-top: 2px;
}
